body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#071529;
}


.topo{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:80px;

    background-color:#003366;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
    box-sizing:border-box;

    z-index:1000;
}

.topo h1{
    color:white;
    margin:0;
    font-size:30px;
}


.pesquisa{
    display:flex;
    align-items:center;
    gap:10px;
}

.pesquisa input{
    width:250px;
    height:40px;

    padding:0 15px;

    background:rgba(79, 195, 247, 0.25);
    border:1px solid rgba(79, 195, 247, 0.5);
    border-radius:20px;

    color:white;
    outline:none;

    backdrop-filter:blur(8px);
}
.pesquisa button{
    height:40px;

    padding:0 15px;

    border:none;
    border-radius:20px;

    cursor:pointer;
}


#animacao{
    position:relative;
    height:100vh;
    overflow:hidden;
}

#animacao video{
    width:100%;
    height:100%;

    object-fit:cover;
}


.titulo-video{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    color:white;
    text-align:center;

    text-shadow:0 0 15px black;
}

.titulo-video h1{
    margin:0;
}

.titulo-video h2{
    font-size:60px;
    margin:10px 0;
}

.titulo-video p{
    font-size:24px;
}


.container {
    display: flex;
    gap: 25px;

    overflow-x: auto;
    scroll-behavior: smooth;

    padding: 50px;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.bloco{
    width:250px;
    height:400px;

    background:rgba(9, 34, 88, 0.726);

    border-radius:40px;
    box-shadow:0 4px 15px rgb(228, 229, 231);

    cursor:pointer;
    transition:0.5s;

    text-align:center;
    color:white;

    overflow:hidden;
    padding:0;
}

.bloco img{
    width:100%;
    height:250px;

    object-fit:cover;

    display:block;
}

.bloco h2{
    font-size:20px;
    margin:20px 10px;
}

.bloco:hover{
    transform:translateY(-10px);
}



